/* styles.css */

body, html {
    background-color: #e8f3ff;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */
#header-wrapper {
    display: flex;
    background-color: #00ADD8;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}
  
/* MAIN */
#main-wrapper {
    display: flex;
    background-color: #e8f3ff;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    flex: 1;
}

/* MAIN */
#loginFormLayout {
    display: flex;
    background-color: white;
    color: white;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}


/* FOOTER */
#footer-wrapper {
    background-color: #00ADD8;
    padding: 1px;
    text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}


.btn-basic {
    background-color: #00ADD8;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    font-weight: bold;
}

.btn-login {
    background-color: #00ADD8;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    font-weight: bold;
}

.btn-register {
    background-color: white;
    color: #00ADD8;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.inputTextBox {
    background-color: white;
    padding: 8px 14px;
    border-radius: 5px;
    border-style: none;
}