<!-- templates/login.html -->
{{ define "title" }}Login | Go Chat{{ end }}

{{ define "content" }}
<div id="main-left"></div>
<div id="loginFormLayout">
    <form action="/login" method="post">
        <input type="text" id="username" class="inputTextBox" name="username" placeholder="Username"> <br>
        <hr>
        <input type="password" id="password" class="inputTextBox" name="password" placeholder="Password"> <br>
        <br>
        <center><input type="submit" value="Login" class="btn-login"></center>
    </form>
</div>
<div id="main-right"></div>
{{ end }}