{{ define "layout" }}
<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}Go Chat{{ end }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<div class="wrapper">

    {{ template "header" . }}

    <div id="main-wrapper">
        {{ block "content" . }}{{ end }}
    </div>

    {{ template "footer" . }}
</div>

</body>

</html>
{{ end }}